<div class="wrapper">
  <div id="formContent">
    <h2>Nueva Contraseña</h2>
    <p>Ingresa tu nueva contraseña y confírmala para restablecer tu cuenta.</p>
    <form (ngSubmit)="cambiarPassword()" #nuevaPasswordForm="ngForm">
      <div class="form-group password-group">
        <div class="input-eye-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" class="form-control" name="password" [(ngModel)]="password" id="floatingPassword" placeholder="Nueva contraseña" required>
          <span (click)="toggleShowPassword()" class="toggle-password-eye">
            <i [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
          </span>
        </div>
        <div class="message-container">
          <p *ngIf="password.length === 0" [class.error-message]="true">❌Debes ingresar una contraseña</p>

          <ng-container *ngIf="password.length > 0">
            <p *ngIf="password.length < 6" [class.error-message]="true">❌La contraseña debe tener al menos 6 caracteres.</p>
            <p *ngIf="password.length >= 6" [class.success-message]="true">La contraseña tiene al menos 6 caracteres.</p>

            <p *ngIf="!validarMayuscula(password)" [class.error-message]="true">❌La contraseña debe contener al menos una letra mayúscula.</p>
            <p *ngIf="validarMayuscula(password)" [class.success-message]="true">La contraseña contiene una letra mayúscula.</p>

            <p *ngIf="!validarNumero(password)" [class.error-message]="true">❌La contraseña debe contener al menos un número.</p>
            <p *ngIf="validarNumero(password)" [class.success-message]="true">La contraseña contiene un número.</p>
          </ng-container>
        </div>
      </div>
      <div class="form-group password-group">
        <div class="input-eye-wrapper">
          <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword" id="floatingConfirmPassword" placeholder="Confirmar contraseña" required>
          <span (click)="toggleShowConfirmPassword()" class="toggle-password-eye">
            <i [ngClass]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
          </span>
        </div>
        <div class="message-container">
          <p *ngIf="confirmPassword.length === 0" [class.error-message]="true">❌Debes repetir la contraseña</p>

          <ng-container *ngIf="confirmPassword.length > 0">
            <p *ngIf="password !== confirmPassword" [class.error-message]="true">❌Las contraseñas no coinciden</p>
            <p *ngIf="password === confirmPassword" [class.success-message]="true">Las contraseñas coinciden</p>
          </ng-container>
        </div>
      </div>
      <button type="submit" class="">Cambiar contraseña</button>
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="/verificar-codigo">Volver</a>
    </div>
  </div>
</div>
