<div class="wrapper">
  <div id="formContent">
    <div class="">
      <img src="../../../assets/img/user-icon.jpg" id="icon" alt="User Icon" />
    </div>
    <h2>Nueva Contraseña</h2>
    <p>Ingresa tu nueva contraseña y confírmala para restablecer tu cuenta.</p>
    <form (ngSubmit)="cambiarPassword()" #nuevaPasswordForm="ngForm">
      <div class="form-group">
        <input type="password" class="form-control" name="password" [(ngModel)]="password" id="floatingPassword" placeholder="Nueva contraseña" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword" id="floatingConfirmPassword" placeholder="Confirmar contraseña" required>
      </div>
      <button type="submit" class="">Cambiar contraseña</button>
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="/verificar-codigo">Volver</a>
    </div>
  </div>
</div>
