<div class="wrapper">
  <div id="formContent">
    <h2>Verificar Código</h2>
    <p>Ingresa el código de 6 dígitos que te hemos enviado a tu correo electrónico.</p>
    <form (ngSubmit)="verificarCodigo()" #verificarForm="ngForm">
      <div class="form-group">
        <input type="text" class="form-control" name="codigo" [(ngModel)]="codigo" id="floatingInput" placeholder="Código de verificación" required>
      </div>
      <button type="submit" class="">Verificar</button>
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="/recuperar-password">Volver</a>
    </div>
  </div>
</div>
