<div class="wrapper">
  <div id="formContent">
    <div class="">
      <img src="../../../assets/img/user-icon.jpg" id="icon" alt="User Icon" />
    </div>
    <form (ngSubmit)="login()" #loginForm="ngForm">
        <div class="form-group">
            <input type="email" class="form-control" name="email" [(ngModel)]="email" id="floatingInput" placeholder="Email" required>
        </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" [(ngModel)]="password" id="floatingPassword" placeholder="Contraseña" required>
      </div>
      <button type="submit" class="">Ingresar</button>
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="/registrarse">¿Registrarse?</a>
      <br>
      <a class="underlineHover" href="/recuperar-password">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
</div>