<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="bi bi-car-front"></i> Departamento de Tránsito
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto"></ul>
    </div>
  </div>
</nav>

<div class="wrapper fadeIn">
  <div id="formContent">
    <h1 class="fadeIn first">Primera Licencia</h1>
    <h2 class="fadeIn first">Reserva tu hora</h2>

    <div class="mb-3 text-center" *ngIf="!tipoLicenciaSeleccionado">
      <button
        *ngFor="let tipo of tiposLicencia"
        type="button"
        class="btn btn-primary m-2 d-block w-100"
        style="max-width: 300px; margin-left: auto; margin-right: auto;"
        (click)="seleccionarTipoLicencia(tipo)">
        {{ tipo }}
      </button>
    </div>
    
    <div class="mb-3 text-center" *ngIf="tipoLicenciaSeleccionado">
      <form class="reservation-form">
        <mat-card class="demo-inline-calendar-card w-75">
          <mat-label>Fechas disponibles</mat-label>
          <mat-calendar
            [dateClass]="dateClass"
            [selected]="fechaSeleccionada"
            (selectedChange)="onFechaChange($event)"
            [dateFilter]="filtrarFechasDisponibles">
          </mat-calendar>
        </mat-card>

        <mat-form-field appearance="fill" class="w-100" *ngIf="tipoLicenciaSeleccionado">
          <mat-label>Horas disponibles</mat-label>
          <mat-select
            [(ngModel)]="horaSeleccionada"
            [disabled]="!fechaSeleccionada || horasDisponibles.length === 0"
            [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let hora of horasDisponibles" [value]="hora">
              {{hora}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <input type="submit" class="fadeIn fourth" value="Reservar hora">
      </form>
    </div>
  </div>
</div>

