<div class="wrapper">
  <div id="formContent">
    <div class="">
      <img src="../../../assets/img/user-icon.jpg" id="icon" alt="User Icon" />
    </div>
    <h2>Recuperar Contraseña</h2>
    <form (ngSubmit)="recuperarPassword()" #recuperarForm="ngForm">
      <div class="form-group">
        <input type="email" class="form-control" name="email" [(ngModel)]="email" id="floatingInput" placeholder="Email" required>
      </div>
      <button type="submit" class="">Enviar código</button>
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="/login">Volver al login</a>
    </div>
  </div>
</div>
